page-add-annoucement {

    .description-box{
        border: 2px solid #488aff;
        border-radius: 5px;
        height: 150px;
        position: relative;
        left:5%;
        width: 90%;
    }

    .create-button{
        position: relative;
        left:5%;
        width: 90%;
    }

}
